body {
    background: #ebedef;
    font-family: Arial;
}

.box {
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #006eff;
    font-size: 60px;
    margin-bottom: auto;
    margin-top: auto;
}

main.dialog {
    width: 500px;
    margin: 10px auto;
    border-radius: 2%;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.dialog {
    text-align: center;
}

div.dialog h1 {
    margin-top: 0;
    margin-bottom: 0;
}

div.dialog p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7f7474;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #656363;
}

form.dialog {
    display: flex;
    flex-direction: column;
}

.firstname {
    float: left;
    width: 44%; 
}

.surname {
    float: right;
    width: 44%; 
}

.form-group-dialog {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group-dialog input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d6d5d5;
    border-radius: 5px;
    outline: none;
}

.form-group-dialog label {
    font-size: 14px;
    margin-bottom: 5px;
}

.birthday-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.birthday-inputs select {
    padding: 10px;
    border: 1px solid #d6d5d5;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    width: 33%;
}

.gender-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.gender-group span {
    font-size: 14px;
    margin-bottom: 5px;
}

.gender-options {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
}

.gender-options div {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #d6d5d5;
    border-radius: 5px;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-options label {
    font-size: 16px;
    margin-left: 10px;
}

.gender-options input {
    margin-right: 10px;
}

.policy {
    margin-top: 10px;
    color: dimgray;
}

.policy a {
    color: #166fe5;
    text-decoration: none;
}

.policy a:hover {
    text-decoration: underline;
}

button.button-dialog {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-decoration: none;
    background: #36a420;
    display: inline-block;
    width: 40%;
    cursor: pointer;
}

button.button-dialog:hover {
    background: #32971e;
}

.account-already {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.account-already a {
    text-decoration: none;
    color: #0570fb;
}